
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 
   Finita la reseta
   License: none (public domain)
*/


html {
	background-color:  rgb(241, 70, 104);
	scroll-behavior: smooth;
}

body {

	font-family: monospace;
	font-size: 1rem;
	color: white;
}

#class {
	position: relative;
	overflow: hidden;
	height: 100vh;
	color: white;

}

#classbg {
	background-image: url(../img/classbg.jpg);
	background-position-x: center;
	background-size: contain;
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(4*(1732/1142) * 100vh);
	height: 100vh;
	animation: slideshow 10s linear infinite;
	transform: translate3d(0,0,0);
}

@keyframes slideshow {
	100% { 
		transform: translateX(calc(2*(1732/1142) * -100vh)); 
	}
}

#products {
	height:100vh;
	overflow: scroll;
	z-index:99999;
	position: relative;
	background-color: rgb(241, 70, 104);
}

#items {
	background-image: url(../img/bg.jpg);
	background-size: auto 225vh;

    width: 508.957219251vh;
	height: 675vh;
}

#catalog-button {	
	position: fixed;
	top: 25vh;
	left: 0;
	right: 0;

	width: 6rem;

	background-color:  rgb(241, 70, 104);

	color: white;

	margin: auto;
	padding: 0.75rem 1rem;
	border: none;

	font-size: 1rem;	
	font-family: inherit;
	text-decoration: underline;
	text-align: center;

	z-index: 999;

	cursor: pointer;
}

#inquiries {
	background-color: rgb(241, 70, 104);

	height: calc((1135/1142) * 75vh);
	width: calc((850/1142) * 75vh);

	margin: calc((10/1142) * 75vh);


	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	font-size:1rem;
}

